<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <error-page>
    <error-code>404</error-code>
    <location>/404.json</location>
  </error-page>

  <error-page>
    <error-code>502</error-code>
    <location>/badgateway.json</location>
  </error-page>

  <error-page>
    <location>/error.json</location>
  </error-page>

</web-app>
